/*global*/

h1, h2, h3, p, ul {
  font-family: 'Amiko', sans-serif;
}

h1{
  font-size: 1.3em;
  font-style: bold;
}

h2{
  font-size: 1em;
}


a{
  text-decoration: none;
  color: lightgrey;
}

ul{
  padding-left: 5%;
  list-style-type: none;
  padding: 5px 15px;
}

li{
  padding: 5px 0;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

/*layout*/

header{
  background-color: lightgreen;
}

.logo{
  font-size: 1em;
  display: inline-block;
  padding-left: 1%;
}

.sect_information{
  background-color: salmon;
  padding: 0 5%;
}

.about{
  border: 2px solid darkgrey;
  width: 50%;
  display: inline-block;
}

.purchase_list{
  border: 2px solid grey;
  width: 39%;
  display: inline-block;
  float: right; 
}

.recipe{
  border: 2px solid beige;
  display: inline-block;
  width: 50%;
}

.sect_schedule{
  display: inline-block;
  background-color:  darkgrey;
  /*width: 100%;*/
  padding-left: 10px;
}

.diet_schedule{
  width: 50%;
  border: 2px solid green;
  display: inline-block;
}

.supplement_schedule{
  width: 48%;
  border: 2px solid salmon;
  display: inline-block;
  float: right;
}

.activity_schedule{
  width: 50%;
  border: 2px solid pink;
  display: inline-block;
}